* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi {
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    width: 1200px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* border: 1px solid coral; */
    height: 100px;
    width: fit-content;
}

.top_logo {
    /* width: 100%; */
    height: 100%;
}

ul.items {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    height: 100%;
    /* border: 1px solid violet; */
    width: 60%;
    justify-content: space-around;
}

ul.items li {
    display: inline-flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.items a:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
    border-bottom: 5px solid red;
    -o-transition: border .20s linear;
    -webkit-transition: border .20s linear;
    -moz-transition: border .20s linear;
    transition: border .20s linear;
}

ul.items li a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: grey;
}

.search_list {
    display: flex;
    align-items: center;
    /* border: 1px solid navy; */
    font-size: 36px;
}

.search_list input {
    font-size: 18px;
}

@media (max-width:768px) {}

@media (max-width:376px) {
    ul.items {
        display: none;
    }
    .search_list {
        display: none;
    }
    label.list_btn {
        display: block;
        float: right;
    }
    input#list_btn:checked~.items_other {
        color: black;
        display: flex;
        flex-direction: column;
        clear: both;
    }
    .items_other {
        color: red;
    }
}

.songyy {
    /* width: 100%; */
    height: 100%;
}

.list_btn {
    font-size: 90px;
    /* width: 50px;
    height: 50px;
    border: 1px solid red; */
    display: none;
}

.items_other {
    display: none;
    width: 150px;
    height: 200px;
    background-color: green;
}

.items_other li {
    text-align: end;
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

.banner {
    width: 80%;
    height: 90%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 30px;
    overflow-X: hidden;
    border: 1px solid crimson;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-image: url(../banner/assasing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.banner p {
    position: absolute;
    bottom: 200px;
    right: 300px;
}

.banner p a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: 1px double rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(158, 0, 0);
    font-weight: 600;
}

@media (max-width:768px) {
    div.banner {
        background-image: url(../banner/assasing.jpg);
        width: 100%;
        height: 40%;
    }
    div.banner-content {
        display: flex;
        align-items: flex-start;
    }
    div.banner-content iframe {
        width: 300px;
        height: 200px;
        margin-top: 30px;
    }
    div.banner-content p {
        top: 280px;
        right: 100px;
    }
}

div.dlc_title {
    width: 60%;
    margin: 0 auto;
}

.dlc_title h1 {
    border-top: 5px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(232, 1, 20);
}

.new_main {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 350px;
    grid-auto-flow: row;
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 10px;
    column-gap: 40px;
    row-gap: 20px;
}

.new_img {
    width: 250px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid_esport {
    box-shadow: 0 0 10px #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}

.grid_esport a {
    color: rgb(180, 180, 180);
}

.grid_esport h3 {
    padding: 5px;
}

.grid_esport p {
    padding: 10px;
}

.grid_esport a:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}