* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi {
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    width: 1200px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    /* border: 1px solid coral; */
    height: 100px;
    width: fit-content;
}

.top_logo {
    /* width: 100%; */
    height: 100%;
}

ul.items {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    height: 100%;
    /* border: 1px solid violet; */
    width: 60%;
    justify-content: space-around;
}

ul.items li {
    display: inline-flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.items a:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
    border-bottom: 5px solid red;
    -o-transition: border .20s linear;
    -webkit-transition: border .20s linear;
    -moz-transition: border .20s linear;
    transition: border .20s linear;
}

ul.items li a {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: grey;
}

.search_list {
    display: flex;
    align-items: center;
    /* border: 1px solid navy; */
    font-size: 36px;
}

.search_list input {
    font-size: 18px;
}

@media (max-width:530px) {
    div.search_list {
        display: none;
    }
}

#nav {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

.bar {
    width: 40px;
    height: 5px;
    background-color: gray;
    top: 10px;
    position: relative;
}

.but_top {
    margin-bottom: 6px;
}

.but_bottom {
    margin-top: 6px;
}

.ul {
    width: 100%;
}

.items_other {
    display: none;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    font-size: 24px;
    list-style: none;
    /* background-color: white; */
    /* float: right; */
    text-align: center;
}

.items_other li {
    opacity: 0;
    background-color: white;
    border-bottom: 3px solid rgb(75, 0, 0);
    padding: 5px;
}

.items_other li a {
    display: block;
    color: rgb(187, 1, 1);
    text-decoration: none;
}

.person a {
    color: gray;
}

@media (max-width:1050px) {
    #nav {
        display: block;
        margin-right: 50px;
    }
    ul.items {
        display: none;
    }
}

.container {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.banner {
    width: 80%;
    height: 800px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 30px;
    overflow-X: hidden;
    /* border: 1px solid crimson; */
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-image: url(../banner/assasing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner h2 {
    color: rgb(82, 0, 0);
    margin-top: 30px;
    display: none;
    /* border: 1px solid chartreuse; */
    position: absolute;
    left: 40%;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.banner p {
    position: absolute;
    bottom: 200px;
    right: 300px;
}

.banner p a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: 1px double rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(158, 0, 0);
    font-weight: 600;
}

@media (max-width:768px) {
    div.banner {
        background-image: url(../banner/assasing.jpg);
        width: 80%;
        height: 500px;
    }
    div.banner-content {
        display: flex;
        align-items: flex-start;
    }
    div.banner-content iframe {
        width: 300px;
        height: 200px;
        margin-top: 100px;
    }
    div.banner-content p {
        bottom: 150px;
        right: 100px;
    }
}

@media (max-width:376px) {
    div.banner {
        width: 100%;
        background-image: url(../banner/assaing768.jpg);
        height: 350px;
    }
    div.banner h2 {
        width: 100%;
        left: 0px;
        display: block;
    }
    div.banner-content iframe {
        display: none;
    }
    div.banner-content p {
        right: 5px;
    }
}

div.dlc_title {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.dlc_h1 {
    border-top: 5px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(232, 1, 20);
    text-align: center;
}

.new_main {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 350px;
    grid-auto-flow: row;
    /* border: 1px solid black; */
    justify-content: center;
    margin-top: 10px;
    column-gap: 40px;
    row-gap: 20px;
    height: 100%;
}

@media (max-width: 1150px) {
    div.new_main {
        grid-template-columns: 250px 250px;
    }
}

@media (max-width:580px) {
    div.new_main {
        grid-template-columns: 350px;
        grid-template-rows: 450px 450px 450px 450px;
    }
    img.new_img {
        width: 350px;
        height: 250px;
    }
    .news_main img {
        display: none;
    }
    h2.dx {
        font-size: 16px;
    }
    h2.date {
        font-size: 16px;
    }
}

.new_img {
    width: 250px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.grid_esport {
    box-shadow: 0 0 10px #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}

.grid_esport a {
    color: rgb(180, 180, 180);
}

.grid_esport h3 {
    padding: 5px;
}

.grid_esport p {
    padding: 10px;
}

.grid_esport a:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

.news_main {
    width: 100%;
}

.news_main a {
    text-decoration: none;
}

.new_title h1 {
    border-top: 5px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(232, 1, 20);
    text-align: center;
}

.news_about {
    width: 80%;
    height: 100%;
    /* position: relative; */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.news_about li img {
    width: 200px;
    padding-right: 5px;
}

.news_about li {
    display: flex;
    /* border: 1px solid gray; */
    border-bottom: 1px dotted gray;
    padding: 10px;
}

.dx_inside {
    font-size: 20px;
    padding-left: 10px;
    color: rgb(19, 19, 19);
    text-align: center;
    font-weight: 600;
}

.dx {
    color: rgb(104, 0, 0);
    padding-bottom: 5px;
    padding-left: 5px;
}

.dx:hover {
    color: gray;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

a.dx_goread {
    color: gray;
    display: inline-block;
    font-size: 18px;
}

a.dx_goread:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

.like {
    width: 100%;
    text-align: right;
}

.like .las.la-heart {
    color: gray;
}

.las.la-heart:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

.date {
    padding-left: 5px;
    margin: 10px;
    color: gray;
}

@media (max-width:768px) {
    div.news_main i {
        padding-top: 5px;
    }
    div.news_main {
        border: 1px solid gray;
    }
    div.news_main span {
        display: none;
    }
}

@media (max-width:376px) {
    h2.dx {
        font-size: 16px;
    }
    a.dx_goread {
        font-size: 16px;
    }
}

.footer {
    height: 100%;
    background-color: rgb(155, 155, 155);
    color: rgb(83, 83, 83);
    text-align: center;
    margin-top: 10px;
    border-top: 5px solid gray;
}

.footer p {
    padding: 10px;
    margin-top: 0px;
}

.social_icon a {
    font-size: 36px;
    color: rgb(83, 83, 83);
    text-decoration: none;
}

.social_icon {
    margin: 5px;
    margin-top: 10px;
}

.footer span a {
    text-decoration: none;
    color: rgb(83, 83, 83);
    ;
}