@import "headuse.css";
@import "footuse.css";

/* input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

ul.slides_in {
    position: relative;
    width: 80%;
    height: 400px;
    list-style: none;
    margin: 10px;
    padding: 0px;
    background-color: #eee;
    overflow: hidden;
    border: 1px solid violet;
}

li.slides_in {
    margin: 0px;
    padding: 0px;
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 20px;
    transition: .5s transform ease-in-out;
    
}

li.slides_in span {
    border: 1px solid gray;
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    background-color: rgba(44, 43, 43, 0.5);
    text-align: center;
    padding: 5px;
}

.slides_in:nth-of-type(1) {
    background-image: url(../news/news_img/village.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.slides_in:nth-of-type(2) {
    background-image: url(../news/news_img/six.jpg);
    background-size: cover;
    left: 100%;
}

.slides_in:nth-of-type(3) {
    background-image: url(../news/news_img/dragen.jpg);
    background-size: cover;
    left: 200%;
}

.controls-visible {
    width: 100%;
    text-align: center;
}

.controls-visible label {
    display: inline-block;
    width: 80px;
    height: 20px;
    background-color: rgba(252, 92, 92, 0.2);
    margin-right: 10px;
    border-radius: 15px;
}

.controls-visible label:hover {
    background-color: red;
    -o-transition: color .50s linear;
    -webkit-transition: color .50s linear;
    -moz-transition: color .50s linear;
    transition: color .50s linear;
    cursor: pointer;
}

.slides_in input[type="radio"]:nth-of-type(1):checked~.slides_in {
    transform: translateX(0%);
}

.slides_in input[type="radio"]:nth-of-type(2):checked~.slides_in {
    transform: translateX(-100%);
}

.slides_in input[type="radio"]:nth-of-type(3):checked~.slides_in {
    transform: translateX(-200%);
} */

.news_pic {
    width: 80%;
    /* border: 1px solid rgb(25, 49, 1); */
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.pic_run {
    position: relative;
    width: 100%;
    height: 500px;
    /* border: 1px solid chartreuse; */
    margin: 0px;
    padding: 0px;
    /* background-color: cornflowerblue; */
    list-style: none;
    overflow: hidden;
}

ul.pic_run li {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
}

li.pic:nth-of-type(2) {
    /* background-color: lemonchiffon; */
    left: 100%;
}

li.pic:nth-of-type(3) {
    /* background-color: lightcoral; */
    left: 200%;
}

.pic.mv1 {
    background-image: url(../news/news_img/village.jpg);
    background-size: cover;
    background-position: center;
}

.pic.mv2 {
    background-image: url(../news/news_img/six.jpg);
    background-size: cover;
    background-position: top;
}

.pic.mv3 {
    background-image: url(../news/news_img/dragen.jpg);
    background-size: cover;
    background-position: center;
}

li.pic span {
    border: 1px solid gray;
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 50px;
    background-color: rgba(44, 43, 43, 0.5);
    text-align: center;
    padding: 5px;
    font-size: 22px;
}

@media (max-width:1119px) {
    div.news_pic {
        width: 60%;
        height: 500px;
    }
    ul.pic_run li {
        width: 100%;
        height: 500px;
    }
    li.pic span {
        font-size: 20px;
    }
    .pic.mv1 {
        background-image: url(../news/news_img/village2.jpg);
        background-size: cover;
    }
    .pic.mv2 {
        background-image: url(../news/news_img/six-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .pic.mv3 {
        background-image: url(../news/news_img/dragen2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media (max-width:744px) {
    li.pic span {
        display: none;
    }
}

@media (max-width:376px) {
    div.news_pic {
        height: 300px;
    }
    ul.pic_run {
        height: 300px;
    }
    ul.pic_run li {
        height: 300px;
    }
}

.news_main {
    width: 100%;
}

.news_about {
    width: 80%;
    /* border: 1px solid gray; */
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.news_about li img {
    width: 200px;
    padding-right: 5px;
}

.news_about li {
    display: flex;
    /* border: 1px solid gray; */
    border-bottom: 1px dotted gray;
    padding: 10px;
}

.dx_inside {
    font-size: 16px;
    padding-left: 5px;
    color: rgb(19, 19, 19);
}

.news_inside a {
    text-decoration: none;
}

.news_inside {
    position: relative;
    width: 100%;
}

.dx {
    color: rgb(104, 0, 0);
    padding-bottom: 5px;
}

.dx:hover {
    color: gray;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

a.dx_goread {
    color: gray;
    display: inline-block;
    font-size: 18px;
}

a.dx_goread:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

@media (max-width:987px) {
    h2.dx {
        font-size: 24px;
    }
    span.dx_inside {
        display: none;
    }
}

@media (max-width:785px) {
    h2.dx {
        font-size: 20px;
    }
}

@media (max-width:680px) {
    span.dx_inside {
        display: none;
    }
    .pic.mv3 {
        background-image: url(../news/news_img/dragen4.png);
    }
}

@media (max-width:516px) {
    ul.news_about img {
        display: none;
    }
}

@media (max-width:376px) {
    h2.dx {
        font-size: 18px;
    }
    .pic.mv3 {
        background-image: url(../news/news_img/dragen4.png);
    }
}

.like {
    /* width: 100%; */
    /* text-align: right; */
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.like .las.la-heart {
    color: gray;
}

.las.la-heart:hover {
    color: red;
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
    cursor: pointer;
}

.page_block {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pages {
    display: flex;
    list-style: none;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
}

.pages li {
    border-left: 1px solid rgb(217, 217, 217);
}

.pages li a {
    font-size: 16px;
    display: inline-block;
    width: 1.5rem;
    text-align: center;
    color: rgb(126, 126, 126);
}

.pages li:first-child {
    border-left: none;
}

.page li:last-child {
    border-right: none;
}