@import url(../CSS/headuse.css);
.hamberger {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

.hamberger a {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.hamberger li {
    display: inline-block;
    list-style: none;
    color: red;
    font-size: 16px;
    font-weight: 600;
}

.container {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 30px;
}

.tittle {
    border-bottom: 3px solid #e6e6e6;
    padding-bottom: 5px;
    margin: 10px;
}

.order {
    width: 100%;
    /* height: 300px; */
    /* border: 1px solid cornflowerblue; */
    margin: 0 auto;
    margin-top: 10px;
}

.option_list ul {
    display: flex;
    width: 100%;
    /* border: 1px solid crimson; */
    background-color: #e6e6e6;
}

.option_list li {
    display: inline-block;
    width: 100%;
    /* border: 1px solid chartreuse; */
    text-align: center;
}

.option_in ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.option_in li {
    display: inline-block;
    width: 100%;
    height: 65px;
    text-align: center;
    padding: 10px;
    /* border: 1px solid cornflowerblue; */
    vertical-align: top;
}

.bonus {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.bonus p {
    display: inline-block;
}

.price {
    display: inline-block;
    color: red;
}

.imformation {
    width: 100%;
    /* border: 1px solid chartreuse; */
    margin-top: 10px;
}

.imformation ul {
    list-style: none;
}

.imformation li {
    margin-bottom: 10px;
}

.ul_two {
    width: 80%;
    display: block;
    /* border: 1px solid chartreuse; */
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.ul_two li {
    display: inline-block;
}

.ul_two label {
    margin-right: 10px;
}

.ul_two input {
    border: none;
    border-bottom: 1px solid gray;
    height: 24px;
    margin-right: 50px;
}

.ul_three {
    width: 80%;
    display: block;
    /* border: 1px solid chartreuse; */
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.ul_three li {
    display: inline-block;
}

.ul_three label {
    margin-right: 10px;
}

.ul_three input {
    border: none;
    border-bottom: 1px solid gray;
    height: 24px;
    margin-right: 50px;
}

.how_pay {
    width: 80%;
    border: 1px solid rgb(6, 0, 34);
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.how_pay ul {
    display: inline-block;
    /* vertical-align: top; */
    text-align: center;
}

.how_pay li {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.how_pay img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.how_pay li p {
    margin-top: 10px;
}

.how_pay a {
    color: gray;
    font-weight: 600;
    text-decoration: none;
}


/* .three {
    display: none;
}

.two {
    display: none;
} */

.order_for p {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(100, 0, 0);
    color: #d6d6d6;
    animation: blink 1000ms infinite;
    -webkit-animation: blink 1000ms infinite;
}

@keyframes blink {
    from {
        color: #d6d6d6;
    }
    50% {
        color: rgb(134, 134, 134);
    }
    to {
        color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes blink {
    from {
        color: #d6d6d6;
    }
    50% {
        color: rgb(134, 134, 134);
    }
    to {
        color: rgb(255, 255, 255);
    }
}

@media (max-width:575px) {
    .container {
        width: 100%;
    }
    ul.ul_two {
        margin-bottom: 0px;
        margin-top: 10px;
    }
    ul.ul_three {
        margin-bottom: 10px;
    }
}